@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model chieut2_laptrinhweb.Models.SanPhamViewModel
@{
}
<div style="text-align: center; border: 1px solid #ddd; padding: 20px; width: 300px;">
    <h2>@Model.TenSP</h2>

    <img src="@Model.AnhMota" alt="Hình ảnh sản phẩm" style="max-width: 100%; border-radius: 8px;" />

    <p>Mã sản phẩm: @Model.MaSP</p>
</div>